nav {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  gap: 25vw;
  font-size: 20px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
}

/* food */
.food {
  max-width: 1200px;
  margin: auto;
}

.vegetables img,
.fruits img {
  width: 100%;
  max-height: 400px;
  vertical-align: middle;
}

.vegetables,
.fruits {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.vegetables {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.page-1 {
  background-color: #111;
  padding: 0.5rem;
  color: #fff;
}

span {
  text-align: center;
}


.pagination .page-2,
.pagination .page-3,
.pagination .page-4 {
  padding: 0.5rem;
}

.pagination .page-2:hover,
.pagination .page-3:hover,
.pagination .page-4:hover {
  background-color: #111;
  color: #fff;
  cursor: pointer;
}

/* about */
.about {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-heading {
  font-size: 20px;
}

.about img {
  width: 70%;
}

footer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 100px;
  line-height: 1.6;
}

footer h5 {
  font-size: 20px
}


.footer-pictures .picture {
  display: flex;
  gap: 10px;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0.5rem;
}

.countries p {
  background-color: #aeaeae;
}

/* responsivness */
@media screen and (max-width: 768px) {
  .vegetables img,
  .fruits img {
    width: 100%;
    max-height: 230px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 425px) {
  body {
    display: block;
  }

  .vegetables,
  .fruits,
  footer {
    display: block;
  }
}
